.instructions__container {
    background-color: #f0f8fa;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.instructions__title {
    font-size: 22px;
    font-weight: bold;
    color: #3b8d56;
    text-align: center;
}

.instructions__list {
    padding-left: 20px;
}

.instructions__list li {
    margin-bottom: 5px;
}

.instructions__colors {
    padding-left: 20px;
}

.instructions__colors li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 3px;
}

.green { background-color: green; }
.yellow { background-color: yellow; }
.orange { background-color: orange; }
.red { background-color: red; }
.purple { background-color: purple; }
